nav {
  background-color: #000;
  padding: 10px;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

a:hover {
  color: rgb(201, 154, 255);
}

.adm-button {
  display: flex;
  justify-content: space-around;
}

.adm-button h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.adm-button button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s;
  width: 250px;
  height: 50px;
}

.adm-button button:hover {
  color: rgb(216, 182, 255);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(32, 32, 32, 0.521);
  margin: 10px;
  padding: 20px;
  width: 500px;
  height: 600px;
  box-sizing: border-box;
  max-width: 500px;
  box-sizing: border-box;
}

.card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.card p {
  font-family: "Montserrat", sans-serif;
  color: #555;
  font-size: 20px;
}

.btn-card {
  display: flex;
  justify-content: center;
}

.card-button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s;
  width: 180px;
  height: 50px;
  margin-right: 15px;
}

.card-button:hover {
  color: rgb(216, 182, 255);
}

.adm-page-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btns{
    display: flex;
    justify-content: center;
}

.hr{
    display: flex;
    justify-content: center;
}

.hr-solid{
    width: 1500px;
    margin-bottom: 30px;
    background-color: #000000;
}