<header>
  <nav id="menu-h">
    <ul>
      <li>
        <a routerLink="/home"> Home </a>
      </li>

      <li>
        <a *ngIf="authService.isLoggedIn()" routerLink="/perfil">Perfil</a>
      </li>

      <li>
        <a *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</a>
      </li>

      <li><a *ngIf="authService.isAdmin()" routerLink="/admin">Admin</a></li>

      <li>
        <a *ngIf="!authService.isLoggedIn()" routerLink="/cadastro">Cadastro</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
