<div class="div-page-login">
  <div class="div-login">
    <h2>Welcome</h2>
    <input [(ngModel)]="email" placeholder="Email" />
    <br />
    <input [(ngModel)]="senha" type="password" placeholder="Senha" />
    <br />
    <p>Não tem cadastro? <a routerLink="/cadastro">Cadastre-se</a></p>
    <button (click)="login()">Login</button>
  </div>

  <div>
    <img
      src="../../../assets/img/login.jpg"
      alt="Imagem colorida com um celular e dois persagens; imagem de vectorjuice no Freepik"
      class="img-login"
    />
  </div>
</div>
