<div class="div-page-register">
  <div class="div-register">
    <h2>Cadastro</h2>
    <input [(ngModel)]="nome" placeholder="Nome" />
    <br />
    <input [(ngModel)]="email" placeholder="Email" />
    <br />
    <input [(ngModel)]="senha" type="password" placeholder="Senha" />
    <br />
    <p>Já tem cadastro? <a routerLink="/login">Login</a></p>
    <button (click)="cadastrar()">Cadastrar</button>
  </div>

  <div>
    <img
      src="../../../assets/img/singup.jpg"
      alt="Imagem colorida com um celular e dois persagens; imagem de vectorjuice no Freepik"
      class="img-register"
    />
  </div>
</div>
