h2 {
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
}

p {
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
  font-size: 30px;
}
